
/*=============== Bar menu-recherche ===============*/

.control-bar {
    width: 100%;
    background: #ffb570;
    color: #fff;
    clear: both;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
            -1px 2px 20px rgba(255, 255, 255, 0.6) inset; 
}

.control-bar .logo-visuum {
    margin: 0px 0px 0px 0px;
    background : #000;
    cursor:pointer;
    padding: 0px 0;
}
.control-bar .logo-visuum1 {
    width: 100%;
    margin:0 auto; 
}
.control-bar a {
    color:#fff
}

.control-bar .control-collapse {
    clear: both;
    width: 100%;
    padding: 0 15px 20px;
}

.control-bar .icon-bar {
    background: #fff;
}

.indicator:hover, .indicator.active {
    background : #F1880B;
}

.control-bar .indicator {
    cursor:pointer;
    padding: 6px 0;
    margin: 0px 0px 0px 0px;
    border-bottom: 5px solid transparent;
}
 .indicator a {
    font-weight: bold;
}
.control-bar .form-control {
        height: 26px;
}
.control-bar .btn {
        height: 26px;
}

.icon-link a {
    padding: 10px 0;
    display: block;
}

.dropdown li a {
     font-size: 12px;
}
.dropdown-menu {
     background:#ffb570;
}
.dropdown li a:hover, .dropdown.active {
    background : #F1880B;
}

/* how it looks on larger viewports*/
@media (min-width:768px) {  
    .control-bar .control-collapse {
        display: inline!important;
        padding: 0;
    }
    .indicator {
        height: 25px;
        padding: 5px 0 0 0;
        display: table;
    }
    .indicator span {
        display: table-row;
        text-align: center;
        border: 1px solid red;
        vertical-align: middle;

    }
    
    .indicator .notice {
        font-size: 12px
    }
    /* height of parent minus by height of element divided by 2 */
    .control-bar .input-group {
        margin-top: 5px;
        padding: 0 5px 5px;
    }
    .btn-default:hover {
        background : #FBC68B
}
.control-bar .logo-visuum1 {
      height: 40px; 
       width: 90%;
      margin:0 auto; 
}
    .icon-link {
        text-align: right;
        padding-top: 28px;
    }
    .nav-link {
        text-decoration: none !important;
    }
    .control-bar .dropdown {
    text-align: center;
    text-decoration:none;
}
 
} 

@media screen and (max-width: 400px) {
    @-ms-viewport { width: 320px; }
    /* CSS for 320px layout goes here */
    .indicator a {
    font-size: 18px;  
}
    .control-bar .indicator {
    cursor:pointer;
    padding: 5px 0;
    border-bottom: 5px solid transparent;
}

}

@media screen and (min-width: 400px) and (max-width: 640px) {
    @-ms-viewport { width: 400px; }
    /* CSS for 400px layout goes here */
    .indicator a {
    font-size: 16px;
}
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
    @-ms-viewport { width: 640px; }
    /* CSS for 640px layout goes here */
    .indicator a {
    font-size: 10px;
}
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
    @-ms-viewport { width: 1024px; }
    /* CSS for 1024px layout goes here */
    .indicator a {
    font-size: 13px;
}
}

@media screen and (min-width: 1366px) {
    /* CSS for 1366px layout goes here */
    .indicator a {
    font-size: 16px;
}
}
/*=============== //Bar menu-recherche ===============*/

/*=============== //Footer ===============*/
.page-footer{
  margin-bottom: 0px;
  padding: 5px 0px 5px;
}
.footer-copyright{
	     background: #000000;
	     color: #FFFFFF;
       font-size: 12px;
       margin-top: 3px;
       padding: 5px 0px 5px;
}
.site-visuum{
       color: #FBC68B;
}
.footer_Adresse{
	background: #000000;
	color: #FFFFFF;
  padding: 0px 0px 0px;
   font-size: 11px;
}


.footer_Adresse .text-uppercase{
  margin-bottom: 0em;
  font-size: 12px;
}

.page-footer .text-uppercase{
  color: #ffb570;
}

.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none;
    display: inline-block;
}
.adress-visuum {
    list-style: none;
    display: inline-block;
}
.serviceclient ul li {
    list-style: none outside none;
    display: inline-block;
}
.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}


.social .fa-facebook { /* round facebook icon*/
    background: #4060A5;
}
.social .fa-twitter { /* round twitter icon*/
    background: #00ABE3;
}
.social .fa-linkedin { /* round linkedin icon*/
    background: #0094BC;
}
.social .fa-instagram { /* round instagram icon*/
    background: #375989;
}
.social .fa-youtube { /* round youtube icon*/
    background: #FF1F25;
}
.social .fa-google { /* round pinterest icon*/
    background: #dd4b39;
}

.souligne{
  text-decoration: underline;
  padding: 0px 0px 0px 50px;
}
/*=============== //Footer ===============*/



