<vsm-shop-search></vsm-shop-search>
<vsm-shop-search-result></vsm-shop-search-result>

<!--
<div class="btn-group">
  <button type="button" class="btn dpd-ts dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-list"></i>  Tout type de boutique  <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Action 1</a></li>
    <li><a href="#">Action 2</a></li>
    <li><a href="#">Action 3</a></li>
    <li><a href="#">Action 4</a></li>
    <li><a href="#">Action 5</a></li>
    <li><a href="#">Action 6</a></li>
  </ul>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
-->