<!-- carousel-image -->
<div class="carousel slide push-down-1 container-fluid" data-ride="carousel" data-interval="3000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
       <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
       <li data-target="#my-carousel" data-slide-to="1"></li>
       <li data-target="#my-carousel" data-slide-to="2"></li>
    </ol>
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner d-block">
    
       <div class="item active">
          <img class="img-responsive" src={{img_Slide1}} alt="">
       </div>
    
       <div class="item ">
          <img class="img-responsive" src={{img_Slide2}} alt="">
       </div>
    
       <div class="item">
          <img class="img-responsive" src={{img_Slide3}} alt="">
       </div>
    
    </div>
    
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#my-carousel" data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left"></span>
       <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#my-carousel" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right"></span>
       <span class="sr-only">Next</span>
    </a>
</div>
    <!-- // carousel-image -->
    
    
    <!-- Products -->
    <div class="produit  clearfix">
     <div class="container-fluid">
         <div class="row">
       <!-- entry1 -->
       <div class="col-lg-2 col-md-2 col-sm-6 text-left">
           <div class="common-produit animated fadeInUp clearfix ae-animation-fadeInUp">
               <figure>
                 <img width="670" height="500" src="../src/assets/images/product/brouette.jpg" class="doc-img animate attachment-gallery-post-single wp-post-image img-responsive" alt="Brouette"> 
               </figure>
           </div>
             <div class="common-produit animated fadeInUp clearfix ae-animation-fadeInUp desc">
               <div class="text-content">
                   <h5 class="text-uppercase"><strong>Brouette : </strong><span class="prix_v_montant">260 000 GNF</span></h5>
                   <h5><small><strong>Poids</strong> : 50 KG</small></h5>
                   <h5><small><strong>Catégorie</strong> : BTP & MATERIAUX</small></h5>
                   <h5><small><strong>Livraison</strong> : Boutique</small></h5>
               </div>
           </div>
       </div>
    
       <!-- entry2 -->
       <div class="col-lg-2 col-md-2 col-sm-6  text-left">
           <div class="common-produit animated fadeInUp clearfix ae-animation-fadeInUp">
               <figure>
                       <img width="670" height="500" src="../src/assets/images/product/coca.jpg" class="doc-img animate attachment-gallery-post-single wp-post-image 	img-responsive" alt="doctor-2"> 
               </figure>
           </div>
           <div class="common-produit animated fadeInUp clearfix ae-animation-fadeInUp desc">
               <div class="text-content border rounded-3">
                   <h5 class="text-uppercase"><strong>Coca Cola : </strong><span class="prix_v_montant">360 000 GNF</span></h5>
                   <h5><small><strong>Poids</strong> : Sac de 50 KG</small></h5>
                   <h5><small><strong>Catégorie</strong> : Alimentation</small></h5>
                   <h5><small><strong>Livraison</strong> : Boutique</small></h5>
               </div>
           </div>
       </div>
    
       <!-- entry3 -->
       <div class="col-lg-2 col-md-2 col-sm-6  text-left">
           <div class="common-produit animated fadeInUp clearfix ae-animation-fadeInUp">
               <figure>
                       <img src="../src/assets/images/product/oil_arrachide.jpg" class="doc-img animate attachment-gallery-post-single wp-post-image img-responsive" alt="doctor-2"> 
               </figure>
           </div>
           <div class="common-produit animated fadeInUp clearfix ae-animation-fadeInUp desc">
             <div class="text-content border rounded-3">
                 <h5 class="text-uppercase"><strong>Oil d'arrachide : </strong><span class="prix_v_montant">260 000 GNF</span></h5>
                 <h5><small><strong>Poids</strong> : Sac de 50 KG</small></h5>
                 <h5><small><strong>Catégorie</strong> : Alimentation</small></h5>
                 <h5><small><strong>Livraison</strong> : Boutique</small></h5>
             </div>
           </div>
       </div>
    
       <!-- entry4 -->
       <div class="col-lg-2 col-md-2 col-sm-6  text-left">
           <div class="common-produit animated fadeInUp clearfix ae-animation-fadeInUp">
               <figure>
                       <img width="670" height="500" src="../src/assets/images/product/pomme_de_terre.jpg" class="doc-img animate attachment-gallery-post-single wp-post-image img-responsive" alt="doctor-2"> 
               </figure>
           </div>
           <div class="common-produit animated fadeInUp clearfix ae-animation-fadeInUp desc">
               <div class="text-content">
                   <h5 class="text-uppercase"><strong>Pomme de terre : </strong><span class="prix_v_montant">260 000 GNF</span></h5>
                   <h5><small><strong>Poids</strong> : Sac de 50 KG</small></h5>
                   <h5><small><strong>Catégorie</strong> : Alimentation</small></h5>
                   <h5><small><strong>Livraison</strong> : Boutique</small></h5>
               </div>
           </div>
       </div>
       
       <!-- entry5 -->
       <div class="col-lg-2 col-md-2 col-sm-6  text-left">
           <div class="common-produit animated fadeInUp clearfix ae-animation-fadeInUp desc">
               <figure>
                       <img width="670" height="500" src="../src/assets/images/product/riz.jpg" class="doc-img animate attachment-gallery-post-single wp-post-image img-responsive" alt="doctor-2"> 
               </figure>
           </div>
           <div class="common-produit animated fadeInUp clearfix ae-animation-fadeInUp">
               <div class="text-content border rounded-3">
                   <h5 class="text-uppercase"><strong>Riz : </strong><span class="prix_v_montant">260 000 GNF</span></h5>
                   <h5><small><strong></strong> : Sac de 50 KG</small></h5>
                   <h5><small><strong>Catégorie</strong> : Alimentation</small></h5>
                   <h5><small><strong>Livraison</strong> : Boutique</small></h5>
               </div>
           </div>
       </div>
       <!-- entry6 -->
       <div class="col-lg-2 col-md-2 col-sm-6  text-left">
           <div class="common-produit animated fadeInUp clearfix ae-animation-fadeInUp">
               <figure>
                       <img width="670" height="500" src="../src/assets/images/product/red_bull.jpg" class="doc-img animate attachment-gallery-post-single wp-post-image img-responsive" alt="doctor-2"> 
               </figure>
           </div>
           <div class="common-produit animated fadeInUp clearfix ae-animation-fadeInUp desc">
               <div class="text-content border rounded-3">
                   <h5 class="text-uppercase"><strong>Red Bull : </strong><span class="prix_v_montant">260 000 GNF</span></h5>
                   <h5><small><strong>Poids</strong> : Sac de 50 KG</small></h5>
                   <h5><small><strong>Catégorie</strong> : Alimentation</small></h5>
                   <h5><small><strong>Livraison</strong> : Boutique</small></h5>
               </div>
           </div>
       </div>
              <div class="visible-sm clearfix margin-gap"></div>
           </div>
    </div>
    </div>
    <!-- Products -->
    