.main{
    margin-top: 70px;
}

h1.title { 
   font-size: 50px;
   font-family: 'Passion One', cursive; 
   font-weight: 400 bold;
   color: #ffb570;
}

hr{
   width: 50%;
   color: #fff;
}

.form-group{
   margin-bottom: 15px;
}

label{
   margin-bottom: 15px;
}

input, input::-webkit-input-placeholder {
   font-size: 14px;
   padding-top: 3px;
}

.main-login{
    background-color: #fff;
   /* shadows and rounded borders */
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 450px;
    padding: 40px 40px;
    border-radius: 10px;
}

.login-button{
    margin-top: 5px;
    background-color: #ffb570; /* 343A40 */
    color: #fff;
    font-weight: bold;
}

.login-register{
   font-size: 11px;
   text-align: center;
}

p {
    font-family: Helvetica, Impact, "Arial Black", Arial, Verdana, sans-serif;
    font-size: 16px;
}

#link {
    float: right;
    margin-bottom: 20px;
}

#link a {
    text-decoration: none;
    color: #ffb570;
    font-weight: bold;
}

@media(max-width: 500px) {
    .main-center {
        max-width: 330px;
    }
}